.profileHeader {
    margin-bottom:4rem;
}

.portfolioGrid {

}

.dialogFlex {
    display:flex;
    gap:2rem;
}

.dialogColumn {
    width:100%;
}

.uploadField {
    .upload {
        border:2px dashed #ccc;
        padding:2rem;
        border-radius:2rem;
        text-align:center;
        cursor:pointer;
    }
}

.portfolioItemInfo {
    position:absolute;
    left:0;
    bottom:0;
    display:flex;
}

.portfolioItem {
    border-radius:1.2rem;
    overflow:hidden;

    img {
        width: 100%;
    }
}

.actionButtons {
    position: absolute;
    padding:5px;
    right:0rem;
    top:0rem;
    gap:5px;
    display:flex;

    button {
        background:rgba(white,0.65);

        &:hover,
        &:focus {
            background:white;
        }
    }
}