.jobEditorContainer {
    display:flex;
    flex-direction:column;
    gap:2rem;
}

.tiptapEditor {
    // border: 1px solid #bbb;
    padding: 3rem;
    min-height: 150px;
    border-radius:1rem;
}

.jobTitle,
.jobTitleValue {
    font-size:4rem !important;
}

.jobTitle {
    margin-bottom:2rem;
}

.jobDetails {
    display:flex;
    flex-direction:column;
    gap:0.5rem;

    + .jobDetails {
        margin-top:2rem;
    }
}

.jobDetailsValue {
    font-size:1.2rem;
}

.sidebarFormControl {
    label {
        position: relative;
        color:var(--color_black);

        > span {
            padding:4px !important;
        }
    }

    > label {
        transform:none !important;
        font-size:1.1rem;
    }
}

.jobContentContainer {

}