.jobCard {
    display: flex;
    flex-direction: column;
    border:1px solid #D9D2EA;
    border-radius:20px;
    background:white;
    overflow:hidden;

    + .jobCard {
        margin-top:1.5rem;
    }

    .top {
        background:#F7F6FB;
        padding:1rem;

        p {
            font-size:1.125rem;
            font-style:italic;
        }

        h4 {
            font-size:1.375rem;
            font-weight:var(--font-weight-bold);
        }
    }

    .bottom {
        padding:1rem;

        p {
            font-size:1.125rem;
            font-weight:var(--font-weight-bold);
        }
    }

    .topRight {
        p {
            font-size:0.8125rem;
            font-style:italic;
        }
    }
}

.jobStatus {
    font-weight:bold;
}

.draftStatus span {
    color: gray;
}

.publishedStatus span {
    color: green;
}