.MuiButton-root {
    font-size:clam(1.15rem,1.25rem);
    letter-spacing:0;
    min-width:rem(120);
    text-transform:capitalize;
    border-radius:12px;
    font-weight:var(--font-weight-bold);
    font-family:var(--font-family);
    padding:0.4rem 1.6rem;
    box-shadow:none;

    &:hover,
    &:focus {
        box-shadow:none;
    }

    &.large {
        font-size: clam(1.3rem, 1.5rem);
    }

    &.tertiary {
        background:#F8E6F5;
        color:var(--color_black);

        &:hover,
        &:focus {
            background:#F0DBED;
        }
    }

    &.small {
        padding:0.15rem 1.25rem;
        font-size: rem(15);
    }

    &.edit-profile {
        align-self:flex-start;
        margin-top:0.5rem;
    }
}

.MuiTypography-root {
    font-family:var(--font-family);
    font-weight:var(--font-weight-regular);
    letter-spacing:0;

    &.MuiTypography-h1 {
        font-size:clam(4.5rem, 5.3125rem);
        font-family:var(--font-family-title);
    }

    &.MuiTypography-h2 {
        color:var(--color_black);
        font-size:clam(1.6rem,2rem);
        font-weight:var(--font-weight-bold);
    }

    &.MuiTypography-h3 {
        color: var(--color_black);
        font-size: clam(1.2rem, 1.375rem);
        font-weight: var(--font-weight-bold);
    }

    &.MuiTypography-h5 {
        color: var(--color_black);
        font-size: clam(1.2rem, 1.375rem);
        font-style:italic;
    }
}

.MuiFormControl-root {
    + .MuiFormControl-root {
        margin-top:1rem;
    }
}

.MuiInputBase-root {
    border-radius:0;
    font-size:1.1rem;
    color:var(--color_primary);
    font-family:var(--font-family);
}

.MuiInputBase-input {
    border-color:#A398BB;
}

.MuiFormLabel-root {
    font-size:1.2rem;
    font-family: var(--font-family);
    font-weight:var(--font-weight-bold);
}

.MuiDialogTitle-root {
    font-weight:var(--font-weight-bold);
    font-size:clam(1.9rem, 2.25rem);
    letter-spacing:1px;
    color:var(--color_black);
    text-align:center;
    padding-top:1.5rem;
    padding-bottom:1.5rem;
    line-height:1.1;
    font-family:var(--font-family-title);
}

.MuiTiptap-RichTextContent-root {
    ul,
    ol {
        list-style-position: inside;
    }
}